<div class="m-2 flex flex-col">
  <div class="container mt-5">
    <h2>g Webcam Capture Image from Camera</h2>
    <div class="col-md-12">
      <webcam
        [trigger]="invokeObservable"
        (imageCapture)="captureImg($event)"
      ></webcam>
    </div>
    <div class="col-md-12">
      <button mat-raised-button color="primary" (click)="getSnapshot()">
        Capture Image
      </button>
    </div>
    <div class="col-12">
      <div id="results">Your taken image manifests here...</div>
      <img [src]="webcamImage?.imageAsDataUrl" height="400px"/>
    </div>
  </div>
</div>
